@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");
header {
  background-color: white;
  color: black;
  grid-area: header; }
  header nav .logo {
    width: 200px;
    height: 80px;
    margin-right: 100px; }
  header nav ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 1em; }

nav li:hover {
  transform: scale(1.1); }

.logo-persona {
  width: 20px;
  height: 20px; }

.nav-link {
  color: black; }

.nav-link:hover {
  color: #A61F2B; }

@media (min-width: 500px) {
  .logo {
    width: 100px;
    height: 70px;
    margin: 0px; } }

main {
  grid-area: main; }
  main section {
    background-color: #F2D0D0; }
  main article {
    background-color: white; }
    main article h2 {
      background-color: #D99197;
      font-family: "Montserrat", sans-serif; }
    main article p {
      font-family: "Open Sans", sans-serif; }
    main article div .contenedor-planis img {
      width: 150px;
      height: 200px; }
    main article div img {
      width: 100%;
      height: 100%; }
  main .formulario-registro input {
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid black; }
  main .formulario-registro input:hover {
    transform: scale(1.2); }
  main .formulario-registro {
    background-color: #73242ba8; }
  main .formulario-registro h2 {
    background-color: #F2D0D0;
    padding: 20px; }
  main .container-registro {
    background-color: #F2D0D0; }
  main .contenedor-mapa {
    background-color: #F2D0D0; }

.card img {
  opacity: 1; }

.card img:hover {
  transform: scale(1.1);
  opacity: 0.5; }

.titulo-entrenadores {
  background-color: #73242b;
  padding: 20px;
  color: white; }

@media (min-width: 576px) and (max-width: 768px) {
  .contenedor-video {
    display: none; }
  .contenedor-planis img {
    display: none; }
  .video-planis {
    display: flex;
    flex-direction: column; } }

@media (max-width: 576px) {
  .contenedor-video {
    display: none; }
  .contenedor-planis img {
    display: none; }
  .video-planis {
    display: flex;
    flex-direction: column; } }

footer {
  background-color: #73242b;
  font-family: "Open Sans", sans-serif;
  grid-area: footer; }
  footer div h2 {
    font-family: "Montserrat", sans-serif; }

.logos-redes img {
  width: 35px;
  height: 35px; }

.logos-redes img:hover {
  transform: scale(1.2); }

button {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.637);
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 15px;
  border-radius: 10px; }

a {
  color: black;
  text-decoration: none; }

.input-mensaje {
  height: 100px; }

.card:hover {
  transform: scale(1.1); }

.grilla-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header " "main " "footer "; }

body {
  scroll-behavior: smooth; }
