header {
  background-color: #005C53; }
  header nav li {
    font-family: "Montserrat", sans-serif; }

main {
  background-color: #D6D58E; }
  main div h1 {
    font-family: "Montserrat", sans-serif; }

section {
  background-color: #DBF227; }

footer {
  background-color: #005C53;
  font-family: "Open Sans", sans-serif; }
  footer h2 {
    font-family: "Montserrat", sans-serif; }

button {
  border: 1px solid #042940;
  background-color: whitesmoke; }

a {
  color: black;
  text-decoration: none; }
