
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');





*{
    margin: 0;              
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
button{
    color: black;
    border:.5px solid;
    padding: 10px;
    background-color: #DBF227;

}
body{
    background-color: #D6D58E;
}
header{
    grid-area: header;
    width: 100%;
    background-color: #005C53;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 20px;
}

/* -------------------------------------------------- NAV ----------------------------------------- */

.logo-menu{
    display: none;
}
.logo{
    width: 200px;
    height:70px ;
}
nav ul li a:hover {
    background-color: #D6D58E;
    padding: 10px;
}
.menu li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;

}
.menu2 ul{
    display: none;
   position: absolute;
}
.menu2:hover ul {
    display: block;
    float: left;
    background-color: #DBF227;
}
/* -------------------------------------------- MAIN -------------------------------------------------- */
main{
    width: 100%;
    background-color:#d6d58edc ;
    grid-area: main;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:80px 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo"
                        "section1 section1"
                        "section2 section3"
                        "section4 section5";
                        row-gap: 25px;
    

}
.body-grid{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:150px 1fr 150px;
    grid-template-areas:"header"
                        "main"
                        "footer"
                        ;
                        
}
@media only screen and (max-width:500px) {
    main{
    grid-template-columns:1fr ;
    grid-template-rows:80px 1fr 350px 350px 350px 300px ;
    grid-template-areas: "titulo "
                        "section1"
                        "section2 "
                        "section3"
                        "section4"
                        "section5";
                        row-gap: 25px;
    }
    .body-grid{
        
        grid-template-columns:1fr ;
        grid-template-rows:250px 1fr 170px;
        grid-template-areas:"header"
                            "main"
                            "footer"
                            ;
}
.grilla-diasyhorarios{
    
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 170px;
    grid-template-areas: "header"
                        "contenedor-diasyhorarios"
                        "footer";
}
.grilla-entrenadores{
    
    grid-template-columns:1fr ;
        grid-template-rows:250px 1fr 170px;
        grid-template-areas:"header"
                            "contenedor-entrenadores"
                            "footer"
                            ;
}
.contenedor-entrenadores{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr ;
    grid-template-areas: "box1"
                        "box2"
                        "box3"
                        "box4";
   

}

}
/* ----------------------------------- TITULO ----------------------------------------- */
.titulo{
    grid-area: titulo;
    text-align: center;
    margin-top: 20px;

}
/*------------------------------------------------------ SECTION 1 ------------------------------------------*/
.section1{
    grid-area: section1;
}
.contenedor-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fotos-galeria{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 450px;
    transition: height 2s, width 2s;
}
.fotos-galeria:hover{
    width: 350px;
    height: 500px;
}
/* ----------------------------------------------------SECTION 2 ----------------------------------------*/
.section2{
    grid-area: section2;
    background-color: #9FC131;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.video{
    width: 500px;
    height: 300px;
}
/*------------------------------------------------------ SECTION 3 ------------------------------------------*/
.section3{
    grid-area: section3;
    background-color: #9FC131;

}
.section3-grid{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:80px .5fr 1fr;
    grid-template-areas:"titulo-planificaciones"
                        "texto-planificaciones"
                        "fotos-planificaciones" ;
}
.titulo-planificaciones{
    grid-area: titulo-planificaciones;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.texto-planificaciones{
    grid-area:texto-planificaciones ;
    text-align: justify;
}
.fotos-planificaciones{
   
    grid-area:fotos-planificaciones ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
}
.plani{
    width:150px ;
    height:200px ;
    margin-bottom: 20px;
}
/*------------------------------------------------------ SECTION 4 ------------------------------------------*/
.section4{
    grid-area: section4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.mapa{
    width: 500px;
    height: 300px;
}
/*------------------------------------------------------ SECTION 5 ------------------------------------------*/
.section5{
    grid-area: section5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
#nombre{
    width: 200px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D6D58E;
    border: 2px solid #005C53;
}
#apellido{
    width: 200px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D6D58E;
    border: 2px solid #005C53;
}

#email{
    width: 404px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D6D58E;
    border: 2px solid #005C53;
}

#mensaje{
    width: 404px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D6D58E;
    border: 2px solid #005C53;
}

.letra-monserrat{
    font-family: 'Montserrat', sans-serif;
}
.letra-open{
    font-family: 'Open Sans', sans-serif
}
.titulo-contacto{
    text-align: center;
    margin-bottom: 25px;
}
/* ------------------------------------FOOTER------------------------------------- */

footer{
    grid-area: footer;
    width: 100%;
    background-color: #005C53;
    display: flex;
    flex-wrap: wrap;
}
.footer-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"boton-footer contacto redes" ;
}
.boton-footer{
    grid-area: boton-footer;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

}
.contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.titulo-contacto{
    margin-bottom: 20px;
}
.redes{
    grid-area: redes;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.logo-30x30{
    width: 30px;
    height: 30px;
}
.logo-20x20{
    width: 20px;
    height: 20px;
}
/* ---------------------------------------DIAS Y HORARIOS-------------------------------------- */
.contenedor-diasyhorarios{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-area: contenedor-diasyhorarios;
}

.grilla-diasyhorarios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas: "header"
                        "contenedor-diasyhorarios"
                        "footer";
}
/* ---------------------------------------------- ENTRENADORES ------------------------------------ */
.grilla-entrenadores{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas: "header"
                        "contenedor-entrenadores"
                        "footer";
}
.contenedor-entrenadores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-template-areas: "box1 box2"
                        "box3 box4";
   

}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
    margin-bottom: 25px;
}
.box4{
    grid-area: box4;
    margin-bottom: 25px;
}
.foto-entrenador{
    width: 350px;
    height: 450px;
}
.box-entrenador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 25px;
}
