@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");
header {
  background-color: #73242bc0;
  grid-area: header; }
  header nav ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 1em; }

nav li:hover {
  transform: scale(1.1); }

.logo-persona {
  width: 20px;
  height: 20px; }

main {
  background-color: #F2D0D0;
  grid-area: main; }
  main section {
    background-color: #D99197; }
  main article {
    background-color: white; }
    main article h2 {
      font-family: "Montserrat", sans-serif; }
    main article p {
      font-family: "Open Sans", sans-serif; }
    main article div img {
      width: 150px;
      height: 200px; }

img:hover {
  transform: scale(1.2); }

@media (min-width: 576px) and (max-width: 768px) {
  .contenedor-video {
    display: none; }
  .contenedor-planis img {
    display: none; } }

@media (max-width: 576px) {
  .contenedor-video {
    display: none; }
  .contenedor-planis img {
    display: none; } }

footer {
  background-color: #73242bc0;
  font-family: "Open Sans", sans-serif;
  grid-area: footer; }
  footer div h2 {
    font-family: "Montserrat", sans-serif; }

.logos-redes img {
  width: 35px;
  height: 35px; }

.logos-redes img:hover {
  transform: scale(1.2); }

button {
  border: 1px solid black;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 15px; }

a {
  color: black;
  text-decoration: none; }

.input-mensaje {
  height: 100px; }

.card:hover {
  transform: scale(1.1); }

.grilla-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5 fr 1fr 1fr;
  grid-template-areas: "header " "main " "footer "; }

body {
  scroll-behavior: smooth; }
