footer{
    background-color: $color-bordo;
    font-family: $letra-open;
    grid-area: footer;
    div{
        button{

        }
    }
    div{
        h2{
            font-family: $letra-monserrat;
        }
        p{

        }
    }
    div{
        a{

        }
        img{
            
        }
    }
   
    
    
}
.logos-redes img{
    width:35px ;
    height: 35px;
}

.logos-redes img:hover{
    transform: scale(1.2);
}
