footer{
    background-color: $color-amarillo;
    font-family: $letra-open;
    
    
    div{
        h2{
            font-family: $letra-monserrat;
            color: black;
        }
        p{
            @extend h2
        }
        
    }
    
    
}
.logos-redes img{
    width:35px ;
    height: 35px;
}

.logos-redes img:hover{
    transform: scale(1.2);
}
.boton-footer{
    border: 1px solid black;
    background-color: $color-amarillo;
    font-family: $letra-monserrat;
    color: black;
    padding: 15px;
    border-radius: 10px;
}
@media (min-width: 576px) and (max-width: 768px) { 
    .boton-footer{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 576px) { 
    
    .boton-footer{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logos-redes img{
        margin-bottom: 15px;
    }
}