header{
    background-color: white;
    color: black;
    grid-area: header;

    nav{
        ul{
            li{
                font-family: $letra-monserrat;
                font-size: 1em;
                a{
                    
                }
            }
        }
        
    }
}

nav li:hover{
    transform: scale(1.1);
}
.logo-persona{
    width: 20px;
    height: 20px;
}
.nav-link{
    color: black;
}