header{
    background-color: $color-bordo;
    color: white;
    grid-area: header;

    nav{
        .logo{
            width:200px ;
            height:80px ;
            margin-right: 100px;
        }
        ul{
            li{
                font-family: $letra-monserrat;
                font-size: 1em;
                
                &:hover{
                    transform: scale(1.1);
                    
                }  
                .item{
                    color: white;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;

                    &:hover{
                        color: $color-rosa;
                    }
                } 
            }
        }
        
    }
}



@media (min-width: 576px) { 
    .logo{
        width:100px ;
        height:70px ;
        margin: 0;
    }
 } 
   

