header{
    nav{
        background-color: $color-amarillo;
        .logo{
            width:200px ;
            height:60px ;
            }
    }    
        
        ul{
            li{
                font-family: $letra-monserrat;
                font-size: 1em;
                
                &:hover{
                    transform: scale(1.1);
                    
                }  
                .item{
                    color: black;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;

                    &:hover{
                        color: $color-coral;
                    }
                } 
            }
        }
        
    }




@media (max-width: 576px) { 
    .logo{
        width:100px ;
        height:70px ;
        margin: 0;
    }
 } 
 
  
 

