header{
    background-color: $color-bordo;
    grid-area: header;

    nav{
        li{
            font-family: $letra-monserrat;
            font-size: 1em;
        }
    }
}

nav li:hover{
    transform: scale(1.1);
}