main{ background-color: $color-beige;
    div{
        h1{
            font-family: $letra-monserrat;
        }
    }
}
section{
    background-color: $color-amarillo;
}
article{
    h2{
        font-family: $letra-monserrat;
    }
    img{
        width:150px ;
        height:200px ;
    }
}