main{ 
    
    grid-area: main;
    section{
        background-color: map-get($colores-rosas, "rosa-claro" );
        
       
            
       
    }
    article{
        background-color: white;
       
        h2{ background-color: map-get($colores-rosas, "rosa-oscuro" );
            font-family: $letra-monserrat;
        }
        p{
            font-family: $letra-open;
        }
        div{
            
            img{
                width:100% ;
                height: 100%;
            }
        }
        
}
.img-planis{
    width:180px ;
    height:250px ;

    &:hover{
        transform: scale(1.1);
    }
}

.formulario-registro input{
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid black;
    
} 
.formulario-registro input:hover{
    transform: scale(1.2);
}
.formulario-registro{
    background-color: $color-bordo-claro;

}
.campus-registro{
    padding:10px;
}
.formulario-registro h2{
    background-color: $color-rosa;
    
    
}
.container-registro{
    background-color: $color-rosa
}
  
.contenedor-mapa{
    background-color: $color-rosa;
}    
}

.card img{
    opacity: 1;
}
.card img:hover{
    transform: scale(1.1);
    opacity: 0.5;

}
.titulo-entrenadores{
    background-color: map-get($colores-rosas, "rosa-oscuro" );
}

@media (min-width: 576px) and (max-width: 768px) { 
    .contenedor-video{display: none;} 
    .contenedor-planis img{
        display: none;
    }
    .video-planis{
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 576px) { 
    .contenedor-video{display: none;} 
    .contenedor-planis img{
        display: none;
    }
    .video-planis{
        display: flex;
        flex-direction: column;
    }
 }

