main{ background-color: $color-rosa;
    grid-area: main;
    div{
        h1{
            font-family: $letra-monserrat;
            
        }
    }
}
section{
    background-color: $color-rosa-oscuro;
}
article{
    background-color: white;
    h2{
        font-family: $letra-monserrat;
    }
    img{
        width:150px ;
        height:200px ;
    }
    img:hover{
        transform: scale(1.2);
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    .contenedor-video{display: none;} 
}
@media (max-width: 576px) { 
    .contenedor-video{display: none;} 
 }

