main{ 
    .portada{
        position: relative;  
    }
    .texto-portada{
        color: white;
        font-family:'Kanit', sans-serif;
        font-size: 5vw;
        position: absolute;
        top: 10px;
        left: 60%;
        
    }
    
    
    article{
        background-color: white;
        height: auto;
    

        p{
            font-family: $letra-open;
            color: black;
        }
        
        
}
.contenedor1{
    background-color: white;
    height: 80vh;
}
.titulo-prueba{
    font-family: 'Kanit', sans-serif;
    font-size: 5vw;
    color: black;
}

@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.contenedor-mapa{
    background-color: white;
}
.contenedor-contacto{
    background-color:white;
    & h2{
        color: black;
    }
    & label{
        color: $color-celeste;
    }
}
.titulo-contacto{
    font-size: 3em;
}
.boton-contacto{
    border: 1px solid $color-bordo;
    background-color: $color-bordo;
    font-family: $letra-monserrat;
    color:black;
    padding: 15px;
}
.input-mensaje{
    height: 100px;
}
/* =============================== PLANIFICACIONES ============================================= */
.boton-planificaciones{
    border: 1px solid $color-bordo;
    background-color: $color-bordo;
    font-family: $letra-monserrat;
    color:black;/* pisado por el color del anchor */
    padding: 15px;
}

/* ================================ REGISTRO ====================================== */
.formulario-registro input{
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid black;
    
} 
.formulario-registro input:hover{
    transform: scale(1.2);
}
.campus-registro{
    padding:10px;
}
.formulario-registro h2{
    background-color: $color-coral;
    
    
}
.container-registro{
    background-color: $color-coral;
}

    
}
/* ================================ ENTRENADORES ====================================== */
.card {
    position: relative;
    &:hover figcaption{
        display:block;
    }
    
}
figcaption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    
    
}
.card img:hover{
    transform: scale(1.1);
}
.titulo-entrenadores{
    background-color: map-get($colores-rosas, "rosa-oscuro" );
}

/* ================================ MEDIA QUERYS ====================================== */
@media (min-width: 576px) and (max-width: 768px) { 
}
@media (max-width: 575.98px) { 
    .titulo-contacto{
        font-size: 1em;
}
}

