main{ 
    .portada{
        position: relative;  
    }
    .texto-portada{
        color: white;
        font-family:'Kanit', sans-serif;
        font-size: 4em;
        position: absolute;
        top: 10px;
        left: 60%;
        
    }
    .portada2{
        position: relative;
    }
    .titulo-portada2{
        position: absolute;
        color:black;
        font-family:'Kanit', sans-serif;
        font-size: 4em;
        bottom: 0;
        right: 50%;
        left: 20px;
    }
    
    article{
        background-color: $color-celeste;
        height: 70vh;

        
        .titulo-planificaciones{ 
            font-family: $letra-monserrat;
            color: white;
            font-size: 2.5em;
        }
        p{
            font-family: $letra-open;
            color: white;
            font-size: 21m;
            letter-spacing: .2em;
        }
        
        
}
.contenedor1{
    background-color: white;
    height: 80vh;
}
.titulo-prueba{
    font-family: 'Kanit', sans-serif;
    font-size: 4em;
    color: black;
}

@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.img-planis{
    @include medidas(180px,250px);

    &:hover{
        transform: scale(1.1);
    }
}
.foto-torneo{
    @include medidas(500px,600px);
}
.contenedor-mapa{
    @extend .contenedor-contacto;
}
.contenedor-contacto{
    background-color:$color-celeste;
    & h2{
        color: white;
    }
    & label{
        color: white;
    }
}
.boton-contacto{
    border: 1px solid white;
    background-color: $color-celeste;
    font-family: $letra-monserrat;
    color:white;
    padding: 15px;
    border-radius: 10px;
}

/* ================================ REGISTRO ====================================== */
.formulario-registro input{
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid black;
    
} 
.formulario-registro input:hover{
    transform: scale(1.2);
}
.campus-registro{
    padding:10px;
}
.formulario-registro h2{
    background-color: $color-coral;
    
    
}
.container-registro{
    background-color: $color-coral;
}

    
}
/* ================================ ENTRENADORES ====================================== */
.card {
    position: relative;
    &:hover figcaption{
        display:block;
    }
    
}
figcaption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    
    
}
.card img:hover{
    transform: scale(1.1);
}
.titulo-entrenadores{
    background-color: map-get($colores-rosas, "rosa-oscuro" );
}

/* ================================ MEDIA QUERYS ====================================== */
@media (min-width: 576px) and (max-width: 768px) { 
    .texto-portada{
        font-size: 1rem;
    }
}
@media (max-width: 576px) { 
    
    .texto-portada{
        font-size: 1rem;
    }
    .titulo-prueba{
    
        font-size: 1rem;
        
    }
    .titulo-portada2{
        font-size: 20px;
    }
}


