main{ 
    grid-area: main;
        div{
        
    }
    section{
        background-color: $color-rosa;
        div{
            .mapa{}
        }
        div{
            form{
                h2{}
    
            }
        }
        div{
            button{}
        }
    }
    article{
        background-color: white;
        div{
            iframe{}
        }
        h2{
            font-family: $letra-monserrat;
        }
        p{
            font-family: $letra-open;
        }
        div{
            img{
                width:150px ;
                height:200px ;
            }
        }
}


    
    
}
img:hover{
    transform: scale(1.2);
}
@media (min-width: 576px) and (max-width: 768px) { 
    .contenedor-video{display: none;} 
    .contenedor-planis img{
        display: none;
    }

}
@media (max-width: 576px) { 
    .contenedor-video{display: none;} 
    .contenedor-planis img{
        display: none;
    }
 }

