$color-rosa: #F2D0D0;
$color-beige: #D6D58E;
$color-rosa-oscuro: #D99197;
$color-bordo: #73242b; 
$color-bordo-claro: #73242ba8;
$color-rojo:#A61F2B;
$color-negro: #0D0D0D;
$letra-monserrat: 'Montserrat', sans-serif;
$letra-open: 'Open Sans', sans-serif;

$colores-rosas: (
    rosa-claro: #F2D0D0,
    rosa-oscuro: #D99197,
)