$color-amarillo: #B01B39;
$color-coral: #F54747;
$color-celeste:#1a1617df;
$color-bordo: #961D1D;
$letra-monserrat: 'Montserrat', sans-serif;
$letra-open: 'Open Sans', sans-serif;

$colores-rosas: (
    rosa-claro: #F2D0D0,
    rosa-oscuro: #D99197,
)