@import "./variables";
@import "./header";
@import "./main";
@import "./footer";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');


button{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.637);
    font-family: $letra-monserrat;
    color: white;
    padding: 15px;
    border-radius: 10px;

}
a{
    color: black;
    text-decoration: none;
}
.input-mensaje{
    height: 100px;
}
.card:hover{
 transform: scale(1.1);
}
.grilla-body{
    display: grid;
    grid-template-columns:1fr  ;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas: "header "
                        "main "
                        "footer ";
}
body{
    scroll-behavior: smooth;
}