@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import "./variables";
@import "./header";
@import "./main";
@import "./footer";


button{
    border: 1px solid $color-azul-oscuro;
    background-color: whitesmoke;
    font-family: $letra-monserrat;
    color: black;
    padding: 15px;

}
a{
    color: black;
    text-decoration: none;
}
.input-mensaje{
    height: 100px;
}