@import "./variables";
@import "./header";
@import "./main";
@import "./footer";

button{
    border: 1px solid $color-azul-oscuro;
    background-color: whitesmoke;

}
a{
    color: black;
    text-decoration: none;
}